@model OnlineShop.Models.Employee

@{ ViewData["Title"] = $"Employee id : {Model.Id}"; }

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Employee Card</title>
</head>
<body>
	<h3>Employee Card</h3>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>SurName</th>
				<th>FirstName</th>
				<th>Patronymic</th>
				<th>Age</th>
				<th>Address</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.Id</td>
				<td>@Model.FirstName</td>
				<td>@Model.SurName</td>
				<td>@Model.Patronymic</td>
				<td>@Model.Age</td>
				<td>@Model.Address</td>
				<td>@Model.Email</td>
			</tr>
		</tbody>
	</table>
	<hr />
	<a asp-controller="Employees" asp-action="Index" class="btn btn-default">To Employees</a>
</body>
</html>
