@model IEnumerable<OnlineShop.ViewModels.ProductViewModel>
<div class="features_items">
	<!--features_items-->
	<h2 class="title text-center">Products</h2>
	@if (Model is null)
	{
		<p>No products with your filter</p>
	}
	else
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="~/images/home/@item.ImageUrl" alt="" />
							<h2>@item.Price.ToString("C")</h2>
							<p>
								<a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
									@item.Name
								</a>
							</p>
							<a asp-controller="Cart" asp-action="Increment" asp-route-id="@item.Id" 
							   class="btn btn-default add-to-cart">
							<i class="fa fa-shopping-cart"></i>
								Add to cart
							</a>
						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<h2>@item.Price.ToString("C")</h2>
								<p>
									<a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
										@item.Name
									</a>
								</p>
								<a asp-controller="Cart" asp-action="Increment" asp-route-id="@item.Id" 
								   class="btn btn-default add-to-cart">
								<i class="fa fa-shopping-cart"></i>
								Add to cart
								</a>
							</div>
						</div>
					</div>
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Добавить в список желаний</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>Добавить к сравнению</a></li>
						</ul>
					</div>
				</div>
			</div>
		}
</div><!--features_items-->
